/* model section */
.model-section{
    background-color: var(--bg-cards);
  }
  .wrapper{
    display: grid;
    padding-block: 6rem;
  }


.rental-experience-content >h2{
  font-size: clamp(1.2rem, 0.4684rem + 2.0253vw, 2rem);
  line-height: 1.2;
  font-weight: var(--fw-semi-bold);
}
.rental-experience-list{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}  

.rental-experience-list > .icon{
  border: 1px solid rgb(154, 154, 154);
  padding: 0.7rem;
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
  color:rgb(208, 208, 208) ;
  border-radius: 0.5rem;
  
}
.rental-experience-list  > div > h3{
  font-size: clamp(1rem, 0.7873rem + 0.8101vw, 1.4rem);
  font-weight: var(--fw-semi-bold);
}

.rental-experience-list > div > p{
  color:rgb(218, 214, 214) ;
  font-weight: 400;
  
}
.model-section > .wrapper{
  margin-block: 3rem;
}

@media (prefers-reduced-motion: no-preference){
  .wrapper > div:first-child{
    transform: translateX(-50%);
    
    opacity: 0;
    animation: slide linear forwards;
    animation-timeline: view();
    animation-range: 200px 400px;
  }
  
  .wrapper > div:nth-child(1){
    opacity: 0;
    animation: slide linear forwards;
    animation-timeline: view();
    animation-range: 200px 400px;
  }

  @keyframes slide{
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
      transform: translateX(0%);
    }
  }
}