/* tabs section*/
.about-section{
  padding-block: 6rem;
  }
  .tabs-body{
      text-align: center;
      margin-bottom: 3rem;
    }
  
  .tabs-body > p {
    font-weight: var(--fw-semi-bold);
  }
  
  .tabs-card-list{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  
  }
  .tabs-card-item{
    background-color: transparent;
    border: 1px solid rgba(154, 154, 154, 0.63);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    flex-wrap: wrap;
    flex-basis: 410px;
    text-align: center;
  }
  .tabs-card-item > *{
    margin: 0.8rem;
    
  }
  .tabs-card-item > p {
    font-weight: 300;
    font-size: 1rem;
    color: rgb(218, 214, 214);
  }
  .tab-icon{
    background-color: var(--btn-bg);
    padding: 2.5rem;
   
    border-radius: 50%;
  }
  .secondary-header{
    font-size: clamp(1.2rem, 0.7747rem + 1.6203vw, 2rem);
    font-weight: var(--fw-semi-bold);
  }