


/* home section */

.home-section{
    background: var(--bg-linear);
    position: relative;
    top: 3.5rem;
    margin-bottom: 4rem;
  }
  
.home-wrapper{
  padding-block: var(--fs-800);
  display: flex;
  align-items: center;
  justify-content: center;

}
.home-content > h1{
  font-size: 1.5rem;
}
.home-content > p{
  font-size: clamp(0.5rem, 0.1545rem + 2.214vw, 1rem);
  font-weight: 300;
 
}
.home-content{
  text-align: center;
  position: relative;
  z-index: 22;
}
.home-car-img{
  display: none;
  max-width: 50%;
  position: absolute;
  z-index: 20;
  top: 10;
  right: 0;
}
.home-content > *{
  margin-top: 2rem;
}


.hero-transp-btn{
  padding-block: 1rem;
  padding-inline: 2rem;
  font-size: 1.2rem;
}
.hero-btn{
  padding-block: calc(1rem + 2px);
  padding-inline:calc(2rem + 2px);
  font-size: 1.2rem;
}
.arrow-container{
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.arrow-button{
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  position: fixed;
  opacity: 0;
  bottom: 3rem;
  right: 5%;
  border-radius: .5rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.393);
  z-index: 5;
  visibility: hidden;
}

.arrow-up{
  transition: all .2s;
  opacity: 1;
  visibility: inherit;
}

  @media (min-width:780px) {
    .home-section{
      top: 0;
    }
    .even-columns{
      grid-template-columns: 1fr 1fr; 
    }
    .home-wrapper{
      --pt-1500 : 7rem;
      padding-block: var(--pt-1500);
      
    }
    
    .home-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
    }
    
  
    .home-car-img{
      display: block;
      
    }
    h1{
      
      line-height: 1.2;
      letter-spacing: 0.1rem;
    }
  
  
    
  
    .home-wrapper{
      
      align-items: center;
      justify-content: flex-start;
    }
  
   
    .home-content > h1{
      font-size: clamp(2rem,0.2025rem + 2.838vw , 3rem);
    }
    .home-content >p {
      font-weight: 300;
    }
    
  }