/* nav section*/

.logo > span, .logo{
    font-size: var(--fs-700);
    font-weight: var(--fw-semi-bold);
  }
  
  .nav-section{
    background: rgba(0, 0, 0, 1);
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 700;
  }
  
  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--fs-600);
    
  }
  
  .fa-bars{
    display: block;
    
  }
  
 
  
  .nav-bar > .primary-nav,.nav-bar > .nav-btn {
    display: none;
  }
  .mobile-nav{
    background-color: rgb(0, 0, 0);
    left: -100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    transition: all .5s ease-in;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mobile-nav-list{
    line-height: 2.5;
    font-size: 1.5rem;
  }
  .open-nav{
    left: 0; 
    transition: all .5s ease-in; 
  }
  .cancle-icon{
    display: block;
    color: aliceblue;
  }

  .menu-icon{
    cursor: pointer;
    z-index: 1111;
    transition: all .5s ease;
    
  }
  .cancel-icon{
    display: block;
    cursor: pointer;
    position: fixed;
    right: 3%;
  }
  
  
  nav > ul > li> a:hover{
    border-bottom: 2px solid var(--clr-brands);
    color: var(--clr-brands);
  }
  
  @media (min-width:911px)  {
    .nav-section{
      position: relative;
    }
    nav  {
      display: flex;
    }
    .nav-bar > .primary-nav, .nav-bar >.nav-btn{
      display: block;
    }
    .mobile-nav{
      display: none;
    }
    nav > ul {
      display: flex;
    }
    .cancle-icon{
      display: none;
    }
    nav > ul > li {
      margin-left: var(--fs-700);
    }  
  
    .fa-bars{
      display: none;
    }
  
    .even-columns{
      grid-template-columns: 1fr 1fr; 
    }
    .hamburger-icon{
      display: none;
    }
  
    
    .hero-wrapper{
      --pt-1500 : 7rem;
      padding-block: var(--pt-1500);
    }
    
    .hero-content{
      display: flex;
      flex-direction: column;
      text-align: start;
    }
    
  
    .hero-img{
      display: block;
    }
    h1{
      font-size: clamp(50px, var(--fs-800), 1100px);
      line-height: 1.2;
      letter-spacing: 0.1rem;
    }
  
  
    .steps-container{
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .wrapper{
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
    }
  
    .unorder-card{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .menu-icon{
      display: none;
    }
  }